development:
  rs_email: 'rightscale-email'
  rs_password: 'rightscale-password'
  accounts:
    -
      name: 'account-name'
      id: 'account-id'
    -
      name: 'account-name'
      id: 'account-id'
    -
      name: 'account-name'
      id: 'account-id'
    -
      name: 'account-name'
      id: 'account-id'
