<div class="form-group">
  <%= label :rs_id, 'Deployment Array', class: 'col-sm-3 control-label' %>
  <div class='col-sm-5'>
    <%= text_field_tag :rs_id, '',{ :'data-placeholder' => 'Choose Server Array', :class => 'form-control chooser' } %>
  </div>
</div>
